<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thyPmeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title th:text="#{dashboard.title}"></title>
    <link rel="stylesheet" th:href=@{/css/style.css}>
  </head>

  <body class="flex bg-slate-100 h-[100vh] relative">
    <aside th:replace="fragments/aside"></aside>
    <main class="grow">
      <div class="w-auto bg-white px-4 py-2 flex items-center justify-between">
        <h1 class="text-xl text-gray-900">Punith M</h1>
        <div th:replace="fragments/avatar"></div>
      </div>

      <div class="p-4">Main</div>
    </main>

    <script th:src="@{/javascript/main.js}"></script>
  </body>
</html>
